<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
    />
    <script src="https://cdn.jsdelivr.net/particles.js/2.0.0/particles.min.js"></script>

    <link rel="stylesheet" href="/assets/css/home.css" />
    <title>خانه</title>
  </head>
  <body>
    <header id="header">
      <div id="particles-js"></div>
      <nav>
        <img src="/assets/images/icon.svg" alt="" />
        <div class="searchBar">
          <input type="text" placeholder="جستجو در میان محصولات" />
          <button><i class="fa fa-search fa-2x"></i></button>
        </div>
        <button>
          <i class="fa fa-user fa-3x"></i>
        </button>
        <button>
          <i class="fa fa-home fa-3x"></i>
        </button>
        <button>
          <i class="fa fa-question fa-3x"></i>
        </button>
      </nav>
      <main>
        <h1>نماهاب</h1>
        <h2>نمایشگاه مجازی اصناف</h2>
        <div>
          <h4>! همین حالا بپیوندید</h4>
          <div class="signupForm">
            <div>
              <label for="name">نام</label>
              <input id="name" type="text" />
            </div>
            <div>
              <label for="phone">شماره تلفن</label>
              <input id="phone" type="tel" />
            </div>
            <button><i class="fa fa-check fa-3x"></i></button>
          </div>
        </div>
      </main>
      <a href="#"><i class="fa fa-chevron-down fa-2x"></i></a>
    </header>
    <div class="seperator">
      <div class="items">
        <img src="/assets/images/sep.svg" alt="" />
        <div>+50</div>
        <div>سازمان طرف قرارداد</div>
      </div>
      <div class="items">
        <img src="/assets/images/sep2.svg" alt="" />
        <div>+5000</div>
        <div>محصول نظارت شده</div>
      </div>
      <div class="items">
        <img src="/assets/images/sep3.svg" alt="" />
        <div>93%</div>
        <div>رضایت در معاملات</div>
      </div>
      <div class="items">
        <img src="/assets/images/sep4.svg" alt="" />
        <div>+1000</div>
        <div>معامله به سر انجام رسیده</div>
      </div>
    </div>
    <main>
      <div class="grid-container">
        <div class="grid-item">دسته بندی دیگر</div>
        <div class="grid-item">حبوبات و دانه های روغنی</div>
        <div class="grid-item">فلزات، مواد شیمیایی و صنعت</div>
        <div class="grid-item">خانه و مصالح ساختمانی</div>
        <div class="grid-item">تماس با ما</div>
        <div class="grid-item search">
          <i class="fa fa-search fa-2x"></i>
          <input type="text" placeholder="جستجو در میان محصولات" />
        </div>
        <div class="grid-item">خدمات ما</div>
        <div class="grid-item">درباره نماهاب</div>
        <div class="grid-item">پنل فروشندگان</div>
        <div class="grid-item">پنل خریداران</div>
        <div class="grid-item">پنل کارگزاری</div>
        <div class="grid-item">ثبت سفارش</div>
        <div class="grid-item">قوانین و مقررات فعالیت در نمایاب</div>
        <div class="grid-item">شرکت های طرف قرارداد</div>
        <div class="grid-item">همکار نمایاب شوید</div>
        <div class="grid-item icon-container">
          <div class="icon"><img src="/assets/images/icon2.svg" alt="" /></div>
          <div class="icon"><img src="/assets/images/icon3.svg" alt="" /></div>
          <div class="icon"><img src="/assets/images/icon4.svg" alt="" /></div>
          <div class="icon"><img src="/assets/images/icon5.svg" alt="" /></div>
          <div class="icon"><img src="/assets/images/icon6.svg" alt="" /></div>
          <div class="icon"><img src="/assets/images/icon7.svg" alt="" /></div>
        </div>
      </div>
    </main>
    <footer>
      <div class="top-footer">
        <img src="/assets/images/icon.svg" alt="" />
        <h1>نماهاب</h1>
        <ul dir="rtl">
          <li>حبوبات و دانه های روغنی</li>
          <li>دسته بندی چهارم مواد قابل فروش</li>
          <li>دسته بندی هفتم مواد قابل فروش</li>
          <li>فلزات، مواد شیمیایی و صنعت</li>
          <li>دسته بندی پنجم مواد قابل فروش</li>
          <li>دسته بندی هشتم مواد قابل فروش</li>
          <li>خانه و مصالح ساختمانی</li>
          <li>دسته بندی ششم مواد قابل فروش</li>
          <li>دسته بندی نهم مواد قابل فروش</li>
        </ul>
        <div class="buttons">
          <button><i class="fa fa-question fa-4x"></i></button>
          <a href="#header"><i class="fa fa-chevron-up fa-3x"></i></a>
        </div>
      </div>
      <div>
        <div id="footer-particle-js"></div>
        <a href="#">Blink Team طراحی و توسعه توسط </a>
      </div>
    </footer>

    <script>
      particlesJS.load("particles-js", "../particlesjs-config.json");
      particlesJS.load(
        "footer-particle-js",
        "../footer-particlesjs-config.json"
      );
    </script>
  </body>
</html>
